@font-face {
    font-family: 'Bergamasco';
    src: url('font/Bergamasco-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

main {
    position: relative;
    overflow: hidden;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.columns-container {
    position: absolute;
    top: 150px;
    left: -1%;
    width: 10%;
    height: 100vh;
}

.columns-image {
    object-fit: cover;
    width: 80vw;
}

.angels-container {
    position: absolute;
    top: -104px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 621px;
}

.angels-image {
    width: 100%;
    height: 417.55px;
    object-fit: contain;
}

/* Применение шрифта к h1 */
.welcome-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

.welcome-container h1 {
    font-size: 58px;
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
    padding-bottom: 5vw;
    font-family: 'Bergamasco', sans-serif; /* Применение шрифта */
}

.description {
    position: absolute;
    right: 340px;
    top: 12vw;
    max-width: 85vh;
    text-align: left;
    z-index: 2;
}

.description p {
    margin-bottom: 8px;
    font-size: 21px;
    font-weight: 200;
    color: var(--text-color);
    line-height: 1.3;
    letter-spacing: 0.2px;
}

/* Медиа-запросы */
@media (max-width: 1024px) {
    .columns-container {
        position: relative;
        left: auto;
        width: 100%;
        height: auto;
        margin-top: 43vh;
    }
    
    .columns-image {
        width: 100%;
        height: auto;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .columns-container {
        margin-top: 50vh;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .columns-image {
        width: 100%;
        height: auto;
        max-width: 108%;
        margin: 0;
    }
    
    .columns-container {
        margin-top: 39vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 320px) {
    .columns-container {
        margin-top: 80vh;
        width: 100%;
    }
}

@media (max-width: 1000px) {
    .angels-container {
        top: -120px;
        width: 40%;
    }

    .welcome-container {
        top: 13rem;
    }

    .welcome-container h1 {
        font-size: 50px;
    }

    .description {
        position: absolute;
        top: 100%;
        right: 116px;
        max-width: 876px;
        text-align: center;
        margin-left: 12vh;
    }
}

@media (max-width: 480px) {
    .angels-container {
        top: -40px;
        width: 35%;
    }

    .angels-image {
        height: 150px;
    }

    .welcome-container {
        top: 95px;
    }

    .welcome-container h1 {
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .description {
        position: absolute;
        top: 137%;
        right: 40px;
        max-width: 876px;
        text-align: justify;
        margin-left: 9vw;
        height: auto;
    }

    .description p {
        font-size: 13px;
        font-weight: 200;
        color: var(--text-color);
        line-height: 1.3;
        letter-spacing: 0.2px;
    }
}