/* Сброс предыдущих стилей */
main {
    position: relative;
    overflow: hidden;
}
.angels-container {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 621px;
}

.angels-image {
    width: 100%;
    height: 417.55px;
    object-fit: contain;
}

.welcome-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
}

.welcome-container h1 {
    font-size: 58px;
    line-height: 1.2;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.description {
    position: absolute;
    top: 120%;
    right: 160px;
    max-width: 900px;
    text-align: left;
    z-index: 2;
}

.description p {
    margin-bottom: 8px;
    font-size: 21px;
    font-weight: 200;
    color: var(--text-color);
    line-height: 1.3;
    letter-spacing: 0.2px;
}

.columns-container {
    position: absolute;
    top: -210px;
    left: -1px;
    width: 800px;
    height: 115vh;
    z-index: 1;
}

.columns-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1000px) {

    .angels-container {
        top: -120px;
        width: 40%;
    }

    .welcome-container {
        top: 13rem;
    }

    .welcome-container h1 {
        font-size: 50px;
    }

    .description {
        position: absolute;
        top: 100%;
        right: 116px;
        max-width: 876px;
        text-align: center;
        margin-left: 12vh;
    }
    .columns-image {
        width: 96%;
        height: 58%;
        object-fit: cover;
        margin-top: 35vw;
    }
    .columns-container {
        top: 0px;
    }
}

@media (max-width: 480px) {
    .angels-container {
        top: -40px;
        width: 35%;
    }

    .angels-image {
        height: 150px;
    }

    .welcome-container {
        top: 95px;
    }

    .welcome-container h1 {
        font-size: 22px;
        line-height: 1.2;
        text-align: center;
        font-weight: 300;
        letter-spacing: 1px;
    }

    .description {
        position: absolute;
        top: 137%;
        right: 40px;
        max-width: 876px;
        text-align: justify;
        margin-left: 9vw;
        height: auto;
    }

    .description p {
        font-size: 13px;
        font-weight: 200;
        color: var(--text-color);
        line-height: 1.3;
        letter-spacing: 0.2px;
    }

    .columns-image {
        width: 45%;
        height: auto;
        object-fit: cover;
        margin-top: 75vw;
    }
    .columns-container {
        top: -90px;
    }
}
