body {
    min-height: 100vh;
    overflow-x: hidden;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 40px;

}

.about-text {
    flex: 1;
    max-width: 600px;
}

.about-text .birth {
    margin: 20px 0 5px 0px;
}

.author-photo {
    align-self: flex-end;
    width: 450px;
    margin-top: -50px;
}

.author-photo img {
    width: 100%;
    height: auto;
    border-radius: 500px 500px 20px 20px;
    object-fit: cover;
}

/* Средние экраны (планшеты) */
@media (max-width: 1024px) {
    .about-main {
        padding: 40px 40px 40px 40px;
    }

    .about-text h1 {
        font-size: 42px;
    }

    .about-text p {
        font-size: 18px;
    }

    .author-photo {
        width: 350px;
        margin-top: -30px;
    }

    .author-photo img {
        width: 100%;
        height: auto;
        border-radius: 500px 500px 20px 20px;
        object-fit: cover;
        margin-bottom: 30px;
    
    }
    .about-content {
        display: flex
    ;
        justify-content: space-between;
        align-items: stretch;
        gap: 40px;
        margin-bottom: 40px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

/* Маленькие экраны (мобильные) */
@media (max-width: 768px) {
    .about-main {
        padding: 0px 20px 30px 20px;
    }

    .about-content {
        flex-direction: column;
        gap: 30px;
        padding-bottom: 60px;
    }

    .about-text {
        max-width: 100%;
    }

    .about-text h1 {
        font-size: 23px;
    }

    .about-text p {
        font-size: 16px;
    }

    .author-photo {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        align-self: center;
    }

    .angels-decoration {
        width: 200px;
        bottom: 20px;
    }
}
