.back-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: 10px 20px;
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Times New Roman', serif;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.back-button:hover {
    opacity: 0.7;
}

.buy-detail-main {
    padding: 120px 60px 50px 60px;
    min-height: 100vh;
}

.album-title {
    font-size: 48px;
    margin-bottom: 0;
    font-family: 'Times New Roman', serif;
}

.part-number {
    text-align: right;
    font-size: 24px;
    margin-top: 0;
}

.album-layout {
    display: flex;
    gap: 60px;
    margin-bottom: 40px;
}

.album-image {
    flex: 1;
}

.album-image img {
    width: 100%;
    height: auto;
}

.album-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track-list {
    text-align: right;
}

.track-list h2 {
    font-size: 20px;
    font-weight: normal;
    margin: 15px 0;
}

.action-buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
    justify-content: flex-start;
    align-items: center;
}

.buy-button, .listen-button {
    padding: 15px 60px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #DEB887;
    color: var(--text-color);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.buy-button:hover, .listen-button:hover {
    opacity: 0.8;
}

.album-description {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 40px;
}

.price-button {
    padding: 15px 60px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #DEB887;
    color: var(--text-color);
    cursor: pointer;
    margin-right: auto;
}

.price-button:hover {
    opacity: 0.8;
}
/* Стили для планшетов */
@media (max-width: 1024px) {
    .album-description {
        font-size: 18px;
        line-height: 1.6;
        margin-top: 40px;
        text-align: left;
        max-width: 50vw;
    }
}

/* Маленькие экраны (мобильные) */
@media (max-width: 768px) {
    .buy-detail-main {
        padding: 20px;
    }
    .album-image img {
        width: 70%;
    }
    .album-title {
        font-size: 24px;
        text-align: left;
    }

    .album-layout {
        flex-direction: column;
        gap: 30px;
        display: flex;
    }

    .part-number {
        text-align: right;
        font-size: 20px;
        margin-top: 20px;
    }

    .album-image {
        width: 100%;
    }

    .album-details {
        width: 100%;
    }

    .track-list {
        text-align: right;
    }

    .track-list h2 {
        font-size: 16px;
        margin: 10px 0;
    }

    .action-buttons {
        justify-content: space-between;
        margin-top: 20px;
    }

    .buy-button, .listen-button {
        padding: 10px 30px;
        font-size: 16px;
    }

    .album-description {
        font-size: 16px;
        line-height: 1.4;
        margin-top: 20px;
    }

    .back-button {
        bottom: 5px;
        right: 20px;
    }
    .album-description {
        max-width: 90vw;
    }
}


